In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = (10, 8)
 
food_consumption = pd.read_csv('./food_consumption.csv', index_col=0)
food_consumption.head()

     country food_category  consumption  co2_emission
1  Argentina          pork        10.51         37.20
2  Argentina       poultry        38.66         41.53
3  Argentina          beef        55.48       1712.00
4  Argentina     lamb_goat         1.56         54.63
5  Argentina          fish         4.36          6.96

In [13]:
#filter for Belgium
be_consumption = food_consumption[food_consumption['country'] == 'Belgium']
be_consumption.head()
print(be_consumption.head())
# Filter for USA
usa_consumption = food_consumption[food_consumption['country'] == 'USA']
print(usa_consumption.head())

     country food_category  consumption  co2_emission
397  Belgium          pork        38.65        136.80
398  Belgium       poultry        12.20         13.11
399  Belgium          beef        15.63        482.31
400  Belgium     lamb_goat         1.32         46.23
401  Belgium          fish        18.97         30.29
   country food_category  consumption  co2_emission
56     USA          pork        27.64         97.83
57     USA       poultry        50.01         53.72
58     USA          beef        36.24       1118.29
59     USA     lamb_goat         0.43         15.06
60     USA          fish        12.35         19.72

In [42]:
df_be_consumption = pd.DataFrame(be_consumption)
df_usa_consumption = pd.DataFrame(usa_consumption)

In [103]:
#Q-1) Calculate mean and median consumption in Belgium
print(df_be_consumption['consumption'].mean())
print(df_be_consumption['consumption'].median())
#Q-2) Calculate mean and median consumption of USA
print(df_usa_consumption['consumption'].mean())
print(df_usa_consumption['consumption'].median())

42.13272727272727
12.59
44.650000000000006
14.58

In [104]:
# Q-3) Group by country, select consumption column, and compute mean and median

be_and_usa = food_consumption[(food_consumption['country'] == 'Belgium') |  (food_consumption['country'] == 'USA')]
df_be_and_usa = pd.DataFrame(be_and_usa)
df_groupby_country = df_be_and_usa.groupby('country')
df_groupby_country['consumption'].agg(['mean','median'])

              mean  median
country
Belgium  42.132727   12.59
USA      44.650000   14.58

              mean  median
country
Belgium  42.132727   12.59
USA      44.650000   14.58